{% extends "newbase.html" %}
{% block title %} Accueil {% endblock %}
{% block body %}
    <main id="index">
        <div class="carousel-container">
        </div>
        <div class="lastnews-container">
            <h1 id="lastnews-title">Dernière sortie</h1>
            <h2 id="lastnews-scan-title">Scan title</h2>
            <p id="lastnews-paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus deleniti, rem id doloribus,<br>
                exercitationem amet dolorem maxime consequatur voluptatem delectus placeat! Autem aliquid quisquam consectetur recusandae ex laudantium numquam dignissimos!
                illo adipisci perspiciatis atque aliquid alias officiis nihil voluptatem!
            </p>
            <a href="#" id="link-scan">Lire</a>
        </div>
    </main>
{% endblock %}